<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://s1.music.126.net/style/favicon.ico?v20180823" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css">
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"></script>
    <title>RePassWord</title>
    <style>
        body {
            background: url({{.url}}) no-repeat;
        }
        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /*实现块元素百分比下居中*/
            width: 550px;
            padding: 40px;
            background: rgba(250, 249, 249, .9);
            box-sizing: border-box;
            box-shadow: 0px 15px 25px rgba(0, 0, 0, .5);
            border-radius: 15px;
        }
    </style>
</head>
<body>
<div class="box">
    <form action="/getpassword" method="post">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">code</i>
            <label class="mdui-textfield-label">验证码</label>
            <input class="mdui-textfield-input" type="text" id="code" name="code"/>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">email</i>
            <label class="mdui-textfield-label">邮箱</label>
            <input class="mdui-textfield-input" type="text" id="email" name="email"/>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">lock</i>
            <label class="mdui-textfield-label">新密码</label>
            <input class="mdui-textfield-input" type="text" id="password" name="password"/>
        </div>
        <div style="text-align: center; padding-top: 20px;">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue-50" style="width: 200px;" id="LoginBtn">重置新密码</button>
        </div>
    </form>
</div>
</body>
</html>