<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://s1.music.126.net/style/favicon.ico?v20180823" />
    <title>随机音乐</title>
</head>
<body>
    <script>
        var system ={};
               var p = navigator.platform;
               system.win = p.indexOf("Win") == 0;
               system.mac = p.indexOf("Mac") == 0;
               system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
               if(system.win||system.mac||system.xll){
                        //如果是电脑跳转到
                        url = window.location.href + "m1";
                        window.open(url, "_self");
               }else{  //如果是手机,跳转到
                        url = window.location.href + "a1";
                        window.open(url, "_self");
           }
    </script>
</body>
</html>