<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://s1.music.126.net/style/favicon.ico?v20180823" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css">
    <title>{{.name}}&ensp;-&ensp;{{.auther}}</title>
    <style>
        body {
            background: url({{.url}}) no-repeat;
        }
        .box{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            /*实现块元素百分比下居中*/
            width:370px;
            padding:30px;
            background: rgba(250, 249, 249, .3);
            box-sizing:border-box;
            box-shadow: 0px 15px 25px rgba(0, 0, 0, .5);
            border-radius:15px;
        }
        audio {
            width: 300px;
        }
        .photo_img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="photo_img">
            <img src="{{.picurl}}" alt="Photo" width="190px" height="190px">
        </div>
        <hr>
        <audio id="musicOn" controls autoplay autoplay="autoplay" style="display:block; margin:10px auto;">
            <source src="{{.mp3url}}" type="audio/mpeg">
        </audio><hr>
        <div style="text-align: center; font-size: 120%;">
            MusicData：{{.name}}-{{.auther}}
        </div>
        <hr>
        <div style="text-align: center;">
            <div style="margin-bottom:10px;">
                <a href="/a1" target="_self"><button class="ui twitter button" style="letter-spacing: 1px">随机热歌榜</button></a>
                <a href="/a2" target="_self"><button class="ui twitter button" style="letter-spacing: 1px">随机新歌榜</button></a>
            </div>
            
            <div>
                <a href="/a3" target="_self"><button class="ui twitter button" style="letter-spacing: 1px">随机飙升榜</button></a>
                <a href="/a4" target="_self"><button class="ui twitter button" style="letter-spacing: 1px">随机原创榜</button></a>
            </div>
        </div>
        <hr>
        <div style="text-align: center;">
            {{.copyright}}
        </div>
        <hr>
        {{if .IsLogin}}
            <div style="text-align: center; padding-top: 10px;">
                当前登录用户：{{.UserName}}&ensp;&ensp;|&ensp;&ensp;
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue-50" style="width: 50px;" id="LoginBtn" onclick="clearCookie();">退出</button>
            </div>
        {{else}}
            <div style="text-align: center; padding-top: 10px;">
                <a href="/a/login">
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue-50" style="width: 50px;" id="LoginBtn">登录</button>&ensp;&ensp;
                </a>
                <a href="/a/register">
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue-50" style="width: 50px;" id="LoginBtn">注册</button>
                </a>
            </div>
        {{end}}
    </div>
    <script>
        // 设置默认音量
        document.getElementById("musicOn").volume = 0.6;
        // 设置播放结束后自动跳转
        var aud = document.getElementById("musicOn");
        aud.onended = function()
        {
            url = window.location.href; /* 获取完整URL */
            window.open(url, "_self");
        };

        //检测是否为失效歌曲
        setTimeout(function(){
            var audio = document.getElementById("musicOn");
            console.log(audio.readyState);
            if(audio.readyState == 0) {
                url = window.location.href; /* 获取完整URL */
                window.open(url, "_self");
            };
        }, 1000);

        function clearCookie() {
            //退出登录
            var request = new XMLHttpRequest();
            request.open("GET", "/exit");
            request.send( null );

            var keys = document.cookie.match(/[^ =;]+(?=\=)/g);
            if (keys) {
                for (var i = keys.length; i--;) {
                    document.cookie = keys[i] + '=0;path=/;expires=' + new Date(0).toUTCString();//清除当前域名下的Cookie
                    url = window.location.href;
                    window.open(url, "_self");
                }
            }
            $("#divcookie").html(document.cookie);
        };
    </script>
</body>
</html>